@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 100;
  font-family: 'Playfair Display';
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --main-padding: 64px;
  --header-image-size: 500px;
  --shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  --text: #06060f;
  --background: #f2f2fb;
  --primary: #4549d1;
  --secondary: #8385e8;
  --accent: #4e52e9;
}

body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--background);
}

header {
    display: flex;
    padding: var(--main-padding);
    position: relative;
}

.image-container {
    flex-shrink: 0;
    z-index: 2;
    position: relative;
}

.image-container>img {
    width: var(--header-image-size);
    height: var(--header-image-size);
    object-fit: cover;
    box-shadow: var(--shadow);
}

h1.name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    letter-spacing: 0px;
    font-weight: 100;
    color: var(--background);
    font-size: 4.5rem;
}

.introduction {
    background-color: var(--background);
    box-shadow: var(--shadow);
    margin: 32px 0px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
}

p.about {
    flex-grow: 1;
    opacity: 80%;
}

.about-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 16px;
}

img.icon {
    width: 32px;
    height: 32px;
}

p.link-text {
    display: none;
}

.background-color {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  transform: translateY(-25%) skewY(-0.15rad);
  box-shadow: var(--shadow);
}

main {
  padding: var(--main-padding);
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h3.project-header, h5.contact-header, .introduction>h2 {
  font-size: 2.75rem;
  font-weight: 100;
}

.project-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  gap: 32px;
}

.project {
  display: grid;
  grid-template-rows: 3fr 2fr;
  box-shadow: var(--shadow);
  background-color: var(--background);
}

img.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.project-icons {
  display: flex;
  gap: 16px;
}

.project-icon, .contact-icon {
  width: 24px;
  height: 24px;
}

.project-info>p {
  flex-grow: 1;
  opacity: 80%;
}

footer {
  padding: var(--main-padding);
  display: flex;
  gap: 64px;
  background-color: var(--primary);
  color: var(--background);
}

footer>img {
  width: 100%;
  height: var(--header-image-size);
  object-fit: cover;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-desc {
  margin-top: -16px;
}

.contact-section>p {
  font-size: 1.25rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-info>div {
  display: flex;
  gap: 16px;
  font-size: 1.25rem;
  align-items: center;
}

.contact-icon {
  width: 28px;
  height: 28px;
  filter: invert(99%) sepia(7%) saturate(4%) hue-rotate(231deg) brightness(113%) contrast(100%);
}

.contact-icons {
  display: flex;
  gap: 32px;
}


.contact-icons>a> img{
  width: 48px;
  height: 48px;
}

@media (min-width: 600px) and (max-width:1200px) {

  .about-links {
      display: none;
    }

    .project-section {
      grid-template-columns: repeat(2, 1fr);
    }
}
