@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 700;
  font-family: 'Playfair Display';
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

#root,
#__next {
  isolation: isolate;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 64px;
    position: relative;
}

.image-container {
    flex-shrink: 0;
    z-index: 2;
    position: relative;
}

.image-container>img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h1.name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    letter-spacing: 0px;
    font-weight: 100;
    color: white;
    font-size: 4.5rem;
}

.introduction {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 32px 0px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
}

p.about {
    flex-grow: 1;
    opacity: 80%;
}

.about-links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 16px;
}

img.icon {
    width: 32px;
    height: 32px;
}

p.link-text {
    display: none;
}

.background-color {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  transform: translateY(-25%) skewY(-0.15rad);
}